.reveal h1 {
  font-size: 1.7em;
}
.reveal h2 {
  font-size: 1.3em;
}
.reveal h6 {
  margin-top: 40px;
  font-size: 0.65em;
  font-weight: normal;
}
.reveal p {
  padding: 24px;
  font-size: 0.8em;
  line-height: 1.4;
}
.reveal ul {
  font-size: 0.9em;
}
.reveal table {
  font-size: 0.5em;
}
.reveal blockquote {
  width: 85%;
  font-size: 0.6em;
}

